

/*
* text color
*/

$primaryTextColor: #262626;

$secondryTextColor: #bfbfbf;

$terceryTextColor: #1890ff;

$fourthTextColor: #595959;

$fifthtextColor: white;

/*
* background color
*/

$primaryBgColor: #fafafa;

$secondryBgColor: #f0f0f0;

$terceryBgColor: #1890ff;

/*
* buttons color
*/

$primaryBtnColor: #1890ff;

$secondryBtnColor: #bfbfbf;

$terceryBtnColor: #595959;

