@import './common/_color.module.scss';

.mainDiv {
    width: 100%;
    min-height: 50px;
    background-color: $primaryBgColor;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.subTopDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.firstDiv{
    width: 30%;
}

.secondDiv{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.thirdDiv{
    width: 30%
}

.logoDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -20px;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
}

.emailDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.email{
    padding-left: 10px;
}

.email:hover{
  color: $terceryTextColor;
  cursor: pointer;
}

.pNews{
    margin-top: 10px;
}

.searchDiv{
    margin-top: 10px;
}

.socialDiv{
    display: flex;
    justify-content: flex-start;
}

.socialIcon{
    margin-top: 15px;
    font-size: 1.5em;
    margin-right: 15px;
}

.socialIcon:hover{
    color: $terceryTextColor;
}

.bottomDiv{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.tpsowName{
    color: $terceryTextColor;
}


@media screen and (max-width: 709px) {
    .subTopDiv {
        flex-direction: column;
    }

    .firstDiv, .secondDiv, .thirdDiv{
        width: 100%;
        margin-bottom: 25px;
    }

    .secondDiv{
        justify-content: space-around;
    }

  }

