@import "./common/_color.module.scss";


.cardStyle{
    max-width: 300px;
    width: 100%;
    max-height: 410px;
    height: 100%;
    border-color: #eeee;
    border-width: 1.5px;
    margin: 20px;
}

.rateNum{
    font-weight: bold;
}

.ratingStyle{
 color: $primaryThemeColor;
 font-size: medium;
}

.ratingDiv{
    margin-top: 3px;
    margin-bottom: 5px;
}

.reviewStyle{
    color: $fourthTextColor;
    opacity: 0.8;
}

.tagStyle{
    list-style: circle;
}

