@import "./common/_color.module.scss";


.cardStyle{
    border-color: #eeee;
    border-width: 1.5px;
    margin: 20px;
}

.rateNum{
    font-weight: bold;
}

.ratingStyle{
 color: $primaryThemeColor;
 font-size: medium;
}

.ratingDiv{
    margin-top: 3px;
    margin-bottom: 5px;
}

.reviewStyle{
    color: $fourthTextColor;
    opacity: 0.8;
}

.tagStyle{
    list-style: circle;
}

@media (max-width: 600px) {
    .cardStyle {
      width: calc(50% - 20px); /* 50% minus the margin to fit 2 cards in a row */
    }
  }