.navbar {
  background-color: #1DA1F2;
  color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logoDiv {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.linkDiv {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
}

.link {
  font-size: 1.2em;
}

.link:hover {
  opacity: 0.7;
}

.btnDiv {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.humbergDiv {
  display: none;
}


/*
media query for tab
*/
@media screen and (max-width: 1024px) {
  .linkDiv {
    width: 60%;
  }

  .btnDiv,
  .logoDiv {
    width: 18%;
  }

}


/*
media query for mobile
*/
@media screen and (max-width: 600px) {

  .humbergDiv {
    display: contents;
    font-size: 2.5em;
    width: 10%;
  }

.logoDiv{
  width: 60%;
}

  .navbar{
    justify-content: space-around;
  }

  .btnDiv,
  .linkDiv {
    display: none;
  }



}