@import "./common/_color.module.scss";

.rsMainDiv {
  padding: 4rem 20px 4rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rsTopMainDiv {
  width: 65%;
  text-align: center;
  padding: 1.2rem 0;
}

.rsH1Tag {
  color: $sixthTextColor;
}

.rsPtag {
  color: $fourthTextColor;
}

.rsSelectionDiv {
  display: flex;
  justify-content:center;
}

.rsLabel {
  padding-top: 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  color: $fourthTextColor;
}

.rsSelectDiv {
  width: 100%;
}

.rsSelectMainDiv{
  margin-right: 1rem;
}

.rsBtnDiv {
  display: flex;
  align-items: flex-end;
}


/*
* media query
*/

@media screen and (max-width: 1024px) {

  .rsTopMainDiv {
    width: 90%;
    
  }
    
}

@media screen and (max-width: 624px) {

  .rsMainDiv{
    text-align: left;
    padding: 4rem 15px 4rem 15px;
  }
  
  .rsTopMainDiv {
    width: 100%;
    
  }

  .rsSelectionDiv {
    flex-direction: column;
  }

  .rsSelectMainDiv{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .rsSelectDiv {
    width: 95vw;
  }



}
