@import "./common/_color.module.scss";

.mainDiv{
    width: 100%;
    min-height: 200px;
    background-color: $terceryBgColor;
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
}

.leftDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}



.h1Tag{
    color: $fifthtextColor;
    font-size: 3em;
}

.pTag{
    color: $fifthtextColor;
    margin-top: 20px;
    font-size: 1.5em; 
}

.btn{
    margin-top: 20px;
   background-color: $terceryBtnColor;
   border-style: none;
   min-height: 50px;
   color: $fifthtextColor;
   font-size: 1em;
   margin-right: 20px;
}



.btnStyle{
    margin-top: 20px;
   min-height: 50px;
   font-size: 1em;
   margin-right: 20px; 
}




.btnDiv{
    width: 100%;
    
}

.rightDiv{
   width: 40%; 
}